#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#heading {
  font-size: 3rem;
  text-shadow: 10px 10px lightgray;
}

#home {
  font-size: 2rem;
  transition: color 0.3s ease;
}

#home:hover {
  color: red;
}

li {
  list-style-type: none;
}

.article {
  border: dashed 2px rgb(119, 8, 119);
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

#article-btn {
  background-color: lightblue;
  border: solid 2px black;
}

#article-btn:hover {
  background-color: rgb(111, 196, 224);
}

#single-article {
  text-align: center;
  margin-left: 0;
}

#article-title {
  font-size: 3rem;
  text-decoration: underline;
}

#article-list {
  font-size: 2rem;
}

#article-body {
  
  border: dashed 2px rgb(119, 8, 119);
}

#article-image {
  max-width: 100%;
  height: auto;
}

#comment-item {
  border-bottom: dashed 2px rgb(119, 8, 119);
  padding-bottom: 1rem;
}

#article-vote {
  font-size: 2rem;
}

.vote-button {
  margin: 0 1rem 1rem 1rem;
  background-color: rgb(221, 209, 232);
}

.vote-button:hover {
  background-color: rgb(201, 175, 224);
}

#submit-button {
  border: solid 1px black;
  margin: 0 1rem 1rem 1rem;
  background-color: rgb(221, 209, 232);
}

#submit-button:hover {
  background-color: rgb(201, 175, 224);
}

.message-alert {
  font-size: 2rem;
  font-weight: bold;
  color: green;
}

#add-comment-description {
  font-weight: bold;
  margin-right: 1rem;
}

#newComment {
  padding: 1rem;
}
textarea {
  border: solid 2px black;
}

#delete-button {
  border: solid 1px black;
  background-color: rgb(221, 209, 232);
}

#delete-button:hover {
  background-color: rgb(201, 175, 224);
}

#article-title {
  font-size: 2rem;
}

#article-list {
  font-size: 1rem;
}