#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#heading {
  font-size: 3rem;
  text-shadow: 10px 10px lightgray;
}

#home {
  font-size: 4rem;
  transition: color 0.3s ease;
  color: lightblue;
  text-shadow: 4px 4px black;
}

#home:hover {
  color: rgb(111, 196, 224);
}

li {
  list-style-type: none;
}

.article {
  border-bottom: solid 1rem black;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

#article-btn {
  background-color: lightblue;
  border: solid 2px black;
}

#article-btn:hover {
  background-color: rgb(111, 196, 224);
}

#single-article {
  text-align: center;
  margin-left: 0;
}

.article-title {
  font-size: 3rem;
  text-decoration: underline;
  font-style: italic;
}

.article-author {
  font-size: 2rem;
  font-weight: bold;
}

.article-topic {
  font-size: 2rem;
  text-decoration: underline;
}

#article-list {
  font-size: 2rem;
}

#article-body {
  font-size: 2rem;
  font-weight: bold;
}

#article-image {
  max-width: 100%;
  height: auto;
  width: auto;
  border-radius: 50%;
  border: solid 3px black;
}

#comment-item {
  border-bottom: solid 1rem black;
  padding-bottom: 1rem;
}

#article-vote {
  font-size: 2rem;
}

.vote-button {
  margin: 0 1rem 1rem 1rem;
  background-color: lightblue;
  border: solid 2px black;
}

.vote-button:hover {
  background-color: rgb(111, 196, 224);
  border: solid 2px black;
}

#submit-button {
  margin: 0 1rem 1rem 1rem;
  background-color: lightblue;
  border: solid 2px black;
}

#submit-button:hover {
  background-color: rgb(111, 196, 224);
}

.message-alert {
  font-size: 2rem;
  font-weight: bolder;
  color: black;
}

#add-comment-description {
  font-weight: bold;
  margin-right: 1rem;
}

#newComment {
  padding: 1rem;
}

textarea {
  border: solid 3px black;
}

#delete-button {
  background-color: lightblue;
  border: 5px;
  border: solid 2px black;
}

#delete-button:hover {
  background-color: rgb(111, 196, 224);
}

#article-list {
  font-size: 1rem;
}

.loading-msg {
  font-size: 2rem;
  font-weight: bolder;
}

#votes {
  font-size: 2rem;
}

#timestamp {
  text-decoration: underline;
}

#comments-header {
  font-size: 3rem;
}

#add-comment-description {
  font-size: 2rem;
}
